* {
    margin: 0 auto;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;700;800&display=swap');

/* common styles */
.bg-white {
    background: #FFF;
}

section {
    width: 1140px;
    margin: 0 auto;
}

.button-primary {
    border-radius: 10px;
    background: linear-gradient(270deg, #F00 0%, #FF8938 100%);
    padding: 20px;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
}

.sectionTittle {
    color: #1C1C1C;
    text-align: center;
    font-family: Manrope;
    font-size: 45px;
    font-weight: 800;
}

.textDetails {
    color: #777;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
}

/* banner styles from here */
header {
    padding: 60px 230px;
}

.mainTopBanner {
    display: flex;
    justify-content: space-around;
}

.bannerText>h1 {
    color: #1C1C1C;
    font-family: Manrope;
    font-size: 80px;
    font-weight: 800;
}

.bannerText>p {
    color: #777;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    padding: 30px 0px;
}

.mainTopBanner .bannerImage {
    padding-top: 70px;
    width: 600px;
}

.mainTopBanner .bannerText {
    width: 630px;
}
.trustpilotReviewBox hr{
    margin: 6px 0px;
}
.trustpilotReviewBox {
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: center;
    gap: 13px;
    padding: 19px 27px;
    margin-top: -120px;
    margin-left: 80px;
    width: 209px;
    height: 60px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
}

.trustpilotratting {
    color: #1C1C1C;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 800;
}

.trustpilotReviewBox>i {
    color: #e7b81d;
    font-size: 40px;
}

/* product feature styles */
.productFeatures {
    text-align: center;
    padding: 130px 230px;
}

.productFeatures>p {
    padding: 30px 0px 50px 0px;
}

.teaVariants {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.tea-cards {
    width: 270px;
    background: linear-gradient(white, rgba(85, 82, 82, 0.171));
    height: 330px;
    border-radius: 10px;
    padding: 30px;
}

.tea-cards>h1 {
    padding-top: 30px;
    color: #1C1C1C;
    text-align: center;
    font-family: Manrope;
    font-size: 25px;
    font-weight: 800;
}

.tea-cards>p {
    color: #777;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

/* Great Tea, Freshly Presented shyle sheet */
.freshlysection {

    padding: 130px 230px;
}

.freshlysectioncoloumnleft {
    display: flex;
    gap: 30px;

}

.emptydiv {
    width: 238px;
    height: 136px;
}

.emptdivup {
    border-radius: 10px;
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.219) 0%, #ff883869 100%);
}

.emptdivdown {
    border-radius: 10px;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
}

.teaimg1 {
    width: 238px;
    height: 350px;
    margin-top: 30px;
    border-radius: 10px;
    background: rgba(87, 118, 57, 0.10);
    align-items: center;
    display: flex;
    justify-content: center;
}

.teaimg2 {
    width: 238px;
    height: 350px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: rgba(230, 166, 35, 0.10);
    align-items: center;
    justify-content: center;
    display: flex;
}

.freshlysection {
    display: flex;
    gap: 70px;
}

.freshlysectioncoloumnright {
    padding-left: 20px;
}

.freshlysectioncoloumnright h1 {
    color: #1C1C1C;
    font-family: Manrope;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

.freshlysectioncoloumnright h3 {
    color: #1C1C1C;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 800;
    padding: 30px 0px 20px 0px;
}

.freshlysectioncoloumnright p {

    line-height: 35px;
}

/* meet client section styles */
.meetclient {
    border-radius: 10px;
    padding: 100px 70px;
    background-repeat: no-repeat;
    display: flex;
    gap: 180px;
    background:linear-gradient(270deg, #F00 0%, #FF8938 100%);
    align-items: center;
    height: 400px;
    margin-bottom: 200px;


}
.meetclientcolomn{
    width: 450px;
}

.meetclientcolomn h1,
.meetclientcolomn p {
    color: #FFF;
    text-align: left;
}
.meetclientcolomn p{
    
    padding: 30px 0px;
    
    line-height: 30px;
}

.meetclientcolomn button {
    border-radius: 8px;
    background: #FFF;
    font-family: Manrope;
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 28px;
    border: 0;
    color: #FF8938;


}

.meetclientcolomnright {
    width: 330px;
    font-family: Manrope;
    border-radius: 8px;
}

.meetclientcard p {
    color: #777;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
}

.meetclientcard h3 {
    color: #1C1C1C;
    font-family: Manrope;
    margin: 30px 0px 10px 0px;
    font-size: 16px;
    font-weight: 700;
}

.meetclientcard {
    display: flex;
    position: relative;
    margin-bottom: 10px;

    background: #FFF;
    border-radius: 8px;
    width: 400px;
    
    box-shadow: 2px 2px 4px black;
}

.meetclientcard img {
    width: 60px;
    border-radius: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: -30px;
    padding: 5px;
    background: white;

}

.meetclientcard .textclien {

    padding: 30px;
}

.meetclientcards{
    position: relative;
}
.meetclientcards>.cardd{
position: absolute
}
.meetclientcards>.card1{
    top: -200px;
    left :80px
}
.meetclientcards>.card2{
    left :80px
}
.meetclientcards>.card3{
    top:-100px;
}
.meetclientcards>.card1>.meetclientcard,.meetclientcards>.card2>.meetclientcard{
    background: rgb(245 255 253 / 31%);
    box-shadow: 2px 2px 4px black;
}
.meetclientcards>.card1>.meetclientcard p,.meetclientcards>.card2>.meetclientcard p{
    color: rgb(54, 52, 52)
}
/* news section styles */
.newsevent>p{
    text-align: center;
    padding: 20px 0px 50px 0px;
}
.newscards{
    display: flex;
    gap: 30px;

}
.newscard{
    border-radius: 10px;
border: 1px solid var(--dark-05, #D2D2D2);
padding: 21px;
}
.newscardtext{
    padding:10px;
    line-height: 30px;
}
.newscardtext p{
    padding: 10px 0px;
}
.newscardtext h3{
    color: #1C1C1C;
font-family: Manrope;
font-size: 20px;
font-weight: 800;
}
.newscardtext a{
    text-decoration: none;
    color:#1C1C1C;
font-family: Manrope;
font-size: 16px;
font-weight: 700;
}
/* footer section stylesheet here */
footer{
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 137, 56, 0.10) 100%);
    padding: 30px;
    margin-top: 150px;
}
.topfooter img{
  margin-left:80px;
}
.topfooter{
    display: flex;
    padding: 130px 0px;
    justify-content: space-between;
    align-items: center;
}
.topfooterright{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}
.topfooterright p{
    color:  #494949;
text-align: right;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}
.topfooterright button{
    border-radius: 8px;
background: linear-gradient(45deg, #F00 50%, #FF8938 50%);
box-shadow: 2px 2px 4px rgb(148, 146, 146);
padding: 15px 25px;
color: #000000;
font-family: Manrope;
font-size: 20px;
font-weight: 700;
border: 0;
}
footer:hover #getstartedbtn{
    background: linear-gradient(45deg,#FF8938 50%,#F00 50%);
    transform: rotate(360deg);
    transition: 0.4s;
    cursor: pointer;
}
.bottomfooter {
display: flex;
justify-content: space-between;
line-height: 30px;
}
.bottomfooter li{
    list-style: none;
    
}
.bottomfooter li>a{
    text-decoration: none;
    color: #494949;
font-family: Manrope;
font-size: 16px;
font-weight: 400;
}
.bottomfooter h2{
    color: #1C1C1C;
font-family: Manrope;
font-size: 20px;
font-weight: 600;
padding-bottom: 30px;
}
.bottomfooter h1{
    color: #1C1C1C;
font-family: Manrope;
font-size: 24px;
font-weight: 600;
line-height: 40px;
}
.bottomfooter form input{
    padding:15px 10px 15px 0px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none
}
.bottomfooter form>label>button{
    background: linear-gradient(270deg, #F00 0%, #FF8938 100%);
    border: 0;
    padding: 10px;
    border-radius: 250px;
    margin-left: -10px;
    color: wheat;

}
.sociallinks{
    padding-top: 20px;
}
.sociallinks a{
    color: rgba(73, 73, 73, 1);
    padding: 0px 20px 0px 0px;
    font-weight: 800;
    font-size: 20px;
}
footer>p{
    color:  #494949;
text-align: center;
font-family: Manrope;
font-size: 16px;
font-weight: 500;
padding-top: 150px;
}